/*Header-section*/

.first-img{
    width: 20vw;
}
.Nike{
    color:#FA804C;
}
.infinity{
    color: #363958;
}
.color-card{
    background-color: #F1F1F1;
    height: 80%;
}
.image-123{
    width: 60%;
    height: 60%;
}
.last-div{
    margin-left: 10px;
}